.chat-container {
    display: flex;
}

.users {
    width: 150px;
    background: #ddd;
    padding: 10px;
}

.chat-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
}